extends ../layout

block content
  ul#pills-tab.nav.nav-pills.mb-3.market(role='tablist')
    li.nav-item
      a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Inicio
    li.nav-item
      a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Perfil
    li.nav-item
      a#pills-contact-tab.nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') Patrocinadores
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
      .row
        .col-8.offset-2
          .frase
            p "Ganadores nunca se rinden y los que se rinden nunca ganan." 
            small -Vince Lombardi
          h4 Seleccionar Actividad
          #list-tab.list-group(role='tablist')
            a#list-home-list.list-group-item.list-group-item-action.active(data-toggle='list', href='#list-home', role='tab', aria-controls='home') Correr
            a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-profile', role='tab', aria-controls='profile') Caminar
            a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-messages', role='tab', aria-controls='messages') Gimnasio
            a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-settings', role='tab', aria-controls='settings') Futbol
            a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-settings', role='tab', aria-controls='settings') Baloncesto
            a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-settings', role='tab', aria-controls='settings') Bicicleta
        .col-12
          #nav-tabContent.tab-content.atletainicio
            #list-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='list-home-list')
              .row
                .col-12
                  #map
                  button.btn.btn-primary Empezar entrenamiento
                  .last-training
                    p Ultimas sesiones
                    table.table.table-dark
                      thead
                        tr
                          th(scope='col') #
                          th(scope='col') Día
                          th(scope='col') Km Recorridos
                          th(scope='col') Tiempo
                      tbody
                        tr
                          th(scope='row') 1
                          td 13/11/18
                          td 3.7km
                          td 20 min
                        tr
                          th(scope='row') 2
                          td 10/11/18
                          td 3.2km
                          td 18 min
                        tr
                          th(scope='row') 3
                          td 8/11/18
                          td 4.1km
                          td 27 min
            #list-profile.tab-pane.fade(role='tabpanel', aria-labelledby='list-profile-list')
              .row
                .col-12
                  #map1
                  button.btn.btn-primary Empezar entrenamiento
                  .last-training
                    p Ultimas sesiones
                    table.table.table-dark
                      thead
                        tr
                          th(scope='col') #
                          th(scope='col') Día
                          th(scope='col') Km Recorridos
                          th(scope='col') Tiempo
                      tbody
                        tr
                          th(scope='row') 1
                          td No
                          td Existen
                          td Registros
            #list-messages.tab-pane.fade(role='tabpanel', aria-labelledby='list-messages-list')
              .col-8.offset-2
                h4 Agregar Ejercicio
                .input-group.agregarrutina
                  input.form-control(type='text', placeholder="Nombre Ejercicio")
                  .input-group-append
                    button.btn.btn-outline-secondary(type='button' onclick='agregarEjercicio()') Agregar + 
              .lists.row
                .col-12.col-sm-6
                  .input-group.mb-3
                    .input-group-prepend
                      span#inputGroup-sizing-default.input-group-text Lagartijas
                    input.form-control(type='text')
                .col-12.col-sm-6
                  .input-group.mb-3
                    .input-group-prepend
                      span#inputGroup-sizing-default.input-group-text Sentadillas
                    input.form-control(type='text')
              button.btn.btn-primary.save(onclick="showToast()") Guardar Sesión
            #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-settings-list') ...
            #snackbar ¡Felicidades, Se ha guardado la sesión!..
    #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
      .row
        .col-12
          .container-datos
            .card
              .persona.row
                .col-4
                  img(src="https://d3iw72m71ie81c.cloudfront.net/male-3.jpg")
                .col-8
                  h1 Jose Rodriguez
                  h4 Edad: 21 años
                  h4 Actividad preferida: correr
                  h5 Ubicación: Juarez, Chihuahua.
                .edit
                  i.fas.fa-edit
          .container-info
            h2 Records Personales
            .row
              .col-3
                #list-tab.list-group(role='tablist')
                  a#list-home-list.list-group-item.list-group-item-action.active(data-toggle='list', href='#list-home1', role='tab', aria-controls='home') Km Máximos
                  a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-profile1', role='tab', aria-controls='profile') Racha de Sesiones
                  a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-messages1', role='tab', aria-controls='messages') Tiempo Máximo
                  a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-settings1', role='tab', aria-controls='settings') Máximas Calorias Quemadas
              .col-9
                #nav-tabContent.tab-content.kms
                  #list-home1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='list-home-list')
                    .row.card
                      .col-6
                        h3 Record de Kilometros recorridos en una sola sesión:
                        h5 13km
                        p Ubicación: Camargo, Chihuahua
                      .col-6
                        img(src="https://www.outsideonline.com/sites/default/files/styles/img_600x600/public/2015/05/19/claire-wyckoff-dick-art-run_s.jpg?itok=LjfhW4Xd")
                  #list-profile1.tab-pane.fade(role='tabpanel', aria-labelledby='list-profile-list')
                    .row.card
                      .col-6
                        h3 Record de Sesiones consecutivas
                        h5 3 Sesiones
                        p Ubicación: Chihuahua, Chihuahua
                  #list-messages1.tab-pane.fade(role='tabpanel', aria-labelledby='list-messages-list')
                    .row.card
                      .col-6
                        h3 Duración maxima de una sesión:
                        h5 2:21 hr
                        p Ubicación: Chihuahua, Chihuahua
                  #list-settings1.tab-pane.fade(role='tabpanel', aria-labelledby='list-settings-list')
                    .row.card
                      .col-6
                        h3 Máximas calorias quemadas por sesión:
                        h5 436 cal
          .regresion
            canvas#myChart(width='400', height='400')
          .historial
            h2 Historial de sesiones
            table.table.table-striped.table-dark
              thead
                tr
                  th(scope='col') #
                  th(scope='col') Tipo Sesión
                  th(scope='col') Duración
                  th(scope='col') Calorias Quemadas
              tbody
                tr
                  th(scope='row') 1
                  td Correr
                  td 0:35 hr
                  td 324 cal
                tr
                  th(scope='row') 2
                  td Gimnasio
                  td 1:26 hr
                  td 96 cal
                tr
                  th(scope='row') 3
                  td Correr
                  td 0:40 hr
                  td 360 cal

    #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
      .row.patrocinadores
        .col-12.col-sm-6
          .card
            .row
              .col-4
                img(src="https://images.unsplash.com/photo-1498529605908-f357a9af7bf5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=047fade70e80ebb22ac8f09c04872c40")
              .col-8
                h4 Lourdes Chavez
                h4 Cd. Juarez, Chihuahua
                button.btn.btn-primary Contactar
                span.badge.badge-pill.badge-primary $35MXN / Mes
        .col-12.col-sm-6
          .card
            .row
              .col-4
                img(src="https://tinyfac.es/data/avatars/B0298C36-9751-48EF-BE15-80FB9CD11143-500w.jpeg")
              .col-8
                h4 Tomas Contreras
                h4 Cd. Juarez, Chihuahua
                button.btn.btn-primary Contactar
                span.badge.badge-pill.badge-primary $43MXN / Mes
        .col-12.col-sm-6
          .card
            .row
              .col-4
                img(src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg")
              .col-8
                h4 Juan Escutia
                h4 Cd. Juarez, Chihuahua
                button.btn.btn-primary Contactar
                span.badge.badge-pill.badge-primary $100MXN / Mes
        .col-12.col-sm-6
          .card
            .row
              .col-4
                img(src="https://randomuser.me/api/portraits/women/95.jpg")
              .col-8
                h4 Lucia Esquivel
                h4 Cd. Juarez, Chihuahua
                button.btn.btn-primary Contactar
                span.badge.badge-pill.badge-primary $52MXN / Mes
  script(src="/js/Chart.min.js")
  script(src="/js/linear-chart.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js")
