extends ../layout

block content
  ul#pills-tab.nav.nav-pills.menu-tabs.coach(role='tablist')
    li.nav-item
      a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Home
    li.nav-item
      a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Market
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
      .market-container.row
        a.market-item.card.col-10.offset-1.add-btn(href="/vehicle/new")
          span 
            i.fas.fa-plus
            | Register New Vehicle
        each vehicle in vehicles
          a.offset-1.col-10.offset-lg-0.col-lg-6.card.market-item.v-card.t-center(href="/vehicle/details/"+vehicle._id)
            .img-responsive
              case vehicle.type
                when 0
                  img(src="/images/automobile.png")
                when 1
                  img(src="/images/suv.png")
                when 2
                  img(src="/images/delivery-truck.png")
                when 3
                  img(src="/images/tourist.png")
                when 4
                  img(src="/images/motor-sports.png")
                when 5
                  img(src="/images/leisure.png")
                when 6
                  img(src="/images/transportation.png")
            h3.t-center=vehicle.name
    #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
      .row
        a.market-item.card.col-10.offset-1.add-btn(href="/vehicle/new")
          span 
            i.fas.fa-retweet
            | Trade Vehicles
        each asset in assets
          if(asset.onSale)
            a.col-11.offset-1.col-sm-10.offset-lg-1.card.v-item(href="/vehicle/details/"+asset._id+"/"+true)
              .card-body.text-left.row
                  .img-container.col-4
                    case asset.type
                      when 0
                        img.img-responsive(src="/images/automobile.png")
                      when 1
                        img.img-responsive(src="/images/suv.png")
                      when 2
                        img.img-responsive(src="/images/delivery-truck.png")
                      when 3
                        img.img-responsive(src="/images/tourist.png")
                      when 4
                        img.img-responsive(src="/images/motor-sports.png")
                      when 5
                        img.img-responsive(src="/images/leisure.png")
                      when 6
                        img.img-responsive(src="/images/transportation.png")
                    //- img(src="/images/leisure.png" style="height: 150px; width: 150px; margin-left: 10%;")
                  .market-flex.col-8.row.m-t-20
                    //- .col-6.t-center
                    //-   span.badge.badge-pill.badge-gray Available Percentage
                    //-   p.m-t-5.t-bold.nolink #{porcentajeVenta}%
                    .col-6.t-center
                      span.badge.badge-pill.badge-gray Name
                      p.m-t-5.t-bold.nolink #{asset.name}
                    //- .col-6.t-center
                    //-   span.badge.badge-pill.badge-gray Number of owners
                    //-   p.t-bold.nolink  #{asset.owners.length}
                    .col-6.t-center
                      span.badge.badge-pill.badge-gray Location
                      p.t-bold.nolink Barcelona, Spain
        .col-11.offset-1.col-sm-10.offset-lg-1.card.v-item
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="/images/leisure.png" style="height: 150px; width: 150px; margin-left: 10%;")
              .market-flex.col-8.row.m-t-20
                .col-12.t-center
                  span.badge.badge-pill.badge-gray Available Percentage
                  p.m-t-5.t-bold 35%
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Number of owners
                  p.t-bold  6
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Location
                  p.t-bold Barcelona, Spain
        .col-11.offset-1.col-sm-10.offset-lg-1.card.v-item
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="/images/tourist.png" style="height: 150px; width: 150px; margin-left: 10%;")
              .market-flex.col-8.row.m-t-20
                .col-12.t-center
                  span.badge.badge-pill.badge-gray Available Percentage
                  p.m-t-5.t-bold 17%
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Number of owners
                  p.t-bold 4
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Location
                  p.t-bold Madrid, Spain
        .col-11.offset-1.col-sm-10.offset-lg-1.card.v-item
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="/images/motor-sports.png" style="height: 150px; width: 150px; margin-left: 10%;")
              .market-flex.col-8.row.m-t-20
                .col-12.t-center
                  span.badge.badge-pill.badge-gray Available Percentage
                  p.m-t-5.t-bold 43%
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Number of owners
                  p.t-bold 2
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Location
                  p.t-bold Barcelona, Spain
        .col-11.offset-1.col-sm-10.offset-lg-1.card.v-item
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="/images/suv.png" style="height: 150px; width: 150px; margin-left: 10%;")
              .market-flex.col-8.row.m-t-20
                .col-12.t-center
                  span.badge.badge-pill.badge-gray Available Percentage
                  p.m-t-5.t-bold 10%
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Number of owners
                  p.t-bold 5
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Location
                  p.t-bold Girona, Spain
        .col-11.offset-1.col-sm-10.offset-lg-1.card.v-item
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="/images/leisure.png" style="height: 150px; width: 150px; margin-left: 10%;")
              .market-flex.col-8.row.m-t-20
                .col-12.t-center
                  span.badge.badge-pill.badge-gray Available Percentage
                  p.m-t-5.t-bold 17%
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Number of owners
                  p.t-bold 3
                .col-6.t-center
                  span.badge.badge-pill.badge-gray Location
                  p.t-bold Vigo, Spain

              
