extends ../layout

block content
  ul#pills-tab.nav.nav-pills.menu-tabs(role='tablist')
    li.nav-item
      a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Inicio
    li.nav-item
      a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Seguidos
    li.nav-item
      a#pills-contact-tab.nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') Patrocinios
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
      nav.navbar
        form.form-inline.buscador
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search
      .market-container.row 
        .market-conainer.header Explora
      .market-container.row
        .col-10.col-lg-3.card.market-item
          .card-header
              | Maratón
          .card-body.text-center
              .img-container.col-12.col-sm-6
                img.img-responsive(src="../img/running.svg")
              .market-content.col-12
                p Acutalmente: 100 Deportistas
                button.btn.btn-primary.btn.pos-a Ver más
                br
                br
        .col-10.col-lg-3.card.market-item
          .card-header
              | GYM
          .card-body.text-center
              .img-container.col-12.col-sm-6
                img.img-responsive(src="../img/dumbbell.svg")
              .market-content.col-12
                p Acutalmente: 213 Deportistas
                button.btn.btn-primary.pos-a Ver más
                br
                br
        .col-10.col-lg-3.card.market-item
          .card-header
              | Futboleh
          .card-body.text-center
              .img-container.col-12.col-sm-6
                img.img-responsive(src="../img/football.svg")
              .market-content.col-12
                p Acutalmente: 420 Deportistas
                button.btn.btn-primary.pos-a Ver más
                br
                br
      .market-container.row 
        .market-conainer.header Descubre
      .market-container.row
        .col-10.col-lg-3.card.market-item
          .card-header
              | Nuevo record
          .card-body.text-center
              .img-container.col-12.col-sm-6
                img.img-responsive(src="../img/D3.jpg" style="height: 100px; width: 100px; border-radius: 50%;")
              .market-content.col-12
                p(style='margin-bottom: 0%;') Melissa Rodríguez
                p Disciplina - 50m Pecho
                button.btn.btn-primary.pos-a Cónocela
                br
                br
        .col-10.col-lg-3.card.market-item
          .card-header
              | Persistencia
          .card-body.text-center
              .img-container.col-12.col-sm-6
                img.img-responsive(src="../img/D2.jpg" style="height: 100px; width: 100px; border-radius: 50%;")
              .market-content.col-12
                p(style='margin-bottom: 0%;') Diego Granados
                p Disciplina - Tennis
                button.btn.btn-primary.pos-a Cónocelo
                br
                br
        .col-10.col-lg-3.card.market-item
          .card-header
              | Última meta alcanzada
          .card-body.text-center
              .img-container.col-12.col-sm-6
                img.img-responsive(src="../img/TV.jpg" style="height: 100px; width: 100px; border-radius: 50%;")
              .market-content.col-12
                p(style='margin-bottom: 0%;') Tamara Vega
                p Disciplina - Pentatlón
                button.btn.btn-primary.pos-a Cónocela
                br
                br


    #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
      .row
        .col-12.col-sm-10.offset-lg-1.card.market-item
          .card-header(style='font-size: 22px;')
              | Melissa Rodríguez
              button.btn.btn-outline-dark.btn-secondary(type='button', style='float:right;', data-toggle="collapse", data-target="#perfil1") Ver más
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="../img/D3.jpg" style="height: 150px; width: 150px; border-radius: 60%; margin-left: 10%;")
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Natación
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 5 minutos
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Just do it" - Nike
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row.mas-info
            .col-4.text-center
              span.badge.badge-pill.badge-dark Nombre Completo
              p.info Byanca Melissa Rodríguez Villanueva
            .col-4.text-center
              span.badge.badge-pill.badge-dark Ciudad Actual
              p.info Pennsylvania
            .col-4.text-center
              span.badge.badge-pill.badge-dark Organización
              p.info Lince
            div.social-wrapper
              a(href='facebook.com')
                i.fab.fa-facebook
              a(href='twitter.com')
                i.fab.fa-twitter
              a(href='instagram.com')
                i.fab.fa-instagram
              a(href='"mailto:mike_fg96@hotmail.com?Sub')
                i.fas.fa-envelope
            .col-12.text-center.btn-patrocinio
              button.btn.btn-outline-primary(type='button') ¡Patrocínala ahora!
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Tamara Vega
              button.btn.btn-outline-dark(type='button', style='float:right;') Ver más
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="../img/TV.jpg" style="height: 150px; width: 150px; border-radius: 60%; margin-left: 10%;")
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Pentatlón
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 1 día
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p “Haz lo que puedas, con lo que tengas, donde estés” -Theodore Roosevelt
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Juan Castello
              button.btn.btn-outline-dark(type='button', style='float:right;', data-toggle="collapse" data-target="#perfil1") Ver más
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="../img/DG.jpg" style="height: 150px; width: 150px; border-radius: 60%; margin-left: 10%;")
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Fútbol Soccer
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Argentino
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace más de 7 días
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Hagas o no lo hagas, pero no lo intentes" -Yoda
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Yamile Flore
              button.btn.btn-outline-dark(type='button', style='float:right;') Ver más
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="../img/D1.jpg" style="height: 150px; width: 150px; border-radius: 60%; margin-left: 10%;")
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Atletismo
                .col-6
                  span.badge.badge-pill.badge-primary Ubicación
                  p  Noruega
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 3 días
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "¿Qué es trujo?" -Daniel Aguilera                  


    #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
      .row
        .col-12.col-sm-10.offset-lg-1.card.market-item
          .card-header(style='font-size: 22px;')
              | Melissa Rodríguez 
              strong - $25 MXN /mes
              button.btn.btn-outline-dark(type='button', style='float:right;', data-toggle="collapse", data-target="#perfil1") Ver más
          .card-body.text-left.row
              .img-container.col-4
                img.img-responsive(src="../img/D3.jpg" style="height: 150px; width: 150px; border-radius: 60%; margin-left: 10%;")
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Natación
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 5 minutos
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Just do it" -Nike
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row
            .col-3
              span.badge.badge-pill.badge-dark Nombre Completo
              p Byanca Melissa Rodríguez Villanueva
            .col-3
              span.badge.badge-pill.badge-dark Ciudad Actual
              p Pennsylvania
            .col-3
              span.badge.badge-pill.badge-dark Organización
              p Lince
            .col-3
              span.badge.badge-pill.badge-dark Contacto
              p
                a(href='facebook.com')
                  i.fab.fa-facebook
                a(href='twitter.com')
                  i.fab.fa-twitter
                a(href='instagram.com')
                  i.fab.fa-instagram
                a(href='mailto:mike_fg96@hotmail.com?Sub')
                  i.fas.fa-envelope
            .col-4
              span.badge.badge-pill.badge-dark Patrocinador Desde
              p 28 de Agosto del 2018
            .col-4
              span.badge.badge-pill.badge-dark Última Meta Cumplida
              p 50m en 38.47 Segundos
                a(herf='google.com')
                  i.fas.fa-arrow-circle-right
            .col-4
              span.badge.badge-pill.badge-dark Próxima Meta
              p 30 Chin-Ups en Prueba de 1 Minuto
            .col-6.text-center
              button.btn.btn-outline-primary(type='button') Editar Patrocinio
            .col-6.text-center
              button.btn.btn-outline-primary(type='button') Historial Completo
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row
           table.table.table-striped
              thead
                tr
                  th(scope='col') Fecha
                  th(scope='col') Tipo de Entrenamiento
                  th(scope='col') Desempeño
                  th(scope='col') Duración
              tbody
                tr
                  th(scope='row') 15/11/2018
                  td Cardio (5 km)
                  td 
                    span.badge.badge-warning Regular
                  td 48 min
                tr
                  th(scope='row') 14/11/2018
                  td Pesas (Pierna)
                  td 
                    span.badge.badge-info Bueno
                  td 60 min
                tr
                  th(scope='row') 13/11/2018
                  td Cardio (10 km)
                  td 
                    span.badge.badge-info Bueno
                  td 108 min
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row.chart2-container
           canvas#myChart2(width='400', height='400')
  script(src="/js/Chart.min.js")
  script(src="/js/linear-chart.js")
  script.
    new Chart(document.getElementById("myChart2"), {
      type: 'line',
      responsive: true,
      data: {
        labels: ['', '20/10/2018', '21/10/2018', '22/10/2018', '23/10/2018', '24/10/2018', '25/10/2018', '', '', ''],
        datasets: [{
            data: [0,2,3,5,3,2,4],
            label: "Kilómetros",
            borderColor: "#3e95cd",
            fill: false
          }, {
              data: [2.667, 2.8099, 2.9508, 3.0927, 3.2376, 3.3795, 3.5184, 3.6673, 3.8102, 3.9531],
              label: 'Regresión Lineal',
              borderColor: '#ff0000',
              fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'kilómetros/sesión'
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
              ticks: {
                  beginAtZero:true
              }
          }]
        }
      }
    });


              
