extends ../layout

block content
  .card.offset-sm-1.col-sm-10.login-container.offset-md-2.col-md-8.offset-lg-3.col-lg-6
    .pb-2.mt-2.mb-4.text-center
      h3.m-t-20 Iniciar Sesión
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
        .col-md-7
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Contraseña
        .col-md-7
          input.form-control(type='password', name='password', id='password', placeholder='Contraseña', autocomplete='current-password', required)
      .form-group
        .offset-md-3.col-md-7.text-center
          button.col-md-12.btn.btn-primary(type='submit')
            i.far.fa-user.fa-sm
            | Iniciar Sesión
          a.btn.btn-link.m-t-20(href='/forgot') ¿Olvidaste tu contraseña?
