extends ../layout

block content
  .card.col-8.signup-card
    .card-body
      h3.card-title Create Notary Account
      .row
        form.col-12.register(id='signup-form', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
            .col-md-7
              input.form-control.signup-form(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
            .col-md-7
              input.form-control.signup-form(type='password', name='password', id='password', placeholder='Password', autocomplete='new-password', required)
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
            .col-md-7
              input.form-control.signup-form(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', required)
          .form-group
            .offset-md-3.col-md-7.text-center
              button.col-md-12.btn.btn-primary.signup-btn(type='submit')
                i.far.fa-user.fa-sm
                | Sign Up
  script(src="/js/signup.js")
