footer.w-100
  .container.text-center
    p(style="margin-top: 20px; text-align: center;") © 2019, Vehico
    //- ul.float-right.list-inline
    //-   li.list-inline-item
    //-     a.btn-link(href='http://ideacon.tech/') Ideacon
  
