.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href="/home")
      img.max-w-30(src="/images/logo.png")
      span Vehico
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      if user
        ul.nav.navbar-nav
          li.nav-item(class=(title === 'Tus Plantitas') ? 'active' : undefined)
            if user.userType === '1'
              a.nav-link(href='/home') Inicio
            if user.userType === '2'
              a.nav-link(href='/atleta') Inicio
            if user.userType === '3'
              a.nav-link(href='/home') Inicio
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Log In
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Sign Up
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') My Account
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Log Out
