extends layout

block content
  div.col-md-8.offset-md-4.text-center.p-t-20.leyenda
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    h1 ¡Forma parte de una comunidad sana!
    h2 Empieza a cuidar el planeta
    h2 Cultiva tus alimentos
