doctype html
html
  head
    title Vehico
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='icon', href='/images/logo.png')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    noscript
      link(rel='stylesheet', href='/assets/css/noscript.css')
  body.is-preload#landing
    // Wrapper
    #wrapper
      // Header
      header#header.alt
        span.logo
          img(src='images/logo.png', alt='')
        h1.f-bold Vehico
        p Fractional Car Ownership
        #btn-wrapper
          a.button.primary(href='/signup') Sign Up
          a.button.primary(href='/login') Log In
      // Nav
      nav#nav
        ul
          li
            a.active(href='#intro') Vehico
          li
            a(href='#first') How does it work?
          li
            a(href='#second') Advantages
          li
            a(href='#cta') Get Started
      // Main
      #main
        // Introduction
        section#intro.main
          .spotlight
            .content
              header.major
                h2 ¿What is Vehico?
              p(style="text-align:justify") The first platform to share the ownership of several vehicles.
                br
                strong Why buy a vehicle when you can own a part of several?
                br 
                | Use it when you need it.
              | Make community, save money, help the environment.
              ul.actions(style="margin-top: 20px;")
                li
                  a.button(href='generic.html') Tell Me More
            span.image
              img(src='images/logo.png', alt='')
        // First Section
        section#first.main.special
          header.major
            h2 How does it work?
          ul.features
            li
              span.icon.major.c-gray.fab.fa-codepen
              h3 Blockchain
              p Don’t let anything to chance. With the inmutable nature of blockchain technology the percentage you own is always safe.
            li
              span.icon.major.c-gray.fas.fa-people-carry
              h3 Community
              p Use it and fill it; as simple as that. Follow the community rules to ensure a good ride to everybody.
            li
              span.icon.major.c-gray.fab.fa-cloudversify
              h3 Cloud
              p Access and book your car from you mobile device or your computer. Access it form anywhere and book it when you need it.
          footer.major
            ul.actions.special
              li
                a.button(href='generic.html') More Information
        // Second Section
        section#second.main.special
          header.major
            h2 Not One, but Several Vehicles
            p You can finally make your dream true of owning a yacht or a sport car!
              br
              | Start being active in your community by buying a partial car
          //- ul.statistics
          //-   li.style1
          //-     span.icon.fa-area-chart
          //-     strong 5,120
          //-     |  Rendimiento
          //-   li.style2
          //-     span.icon.fa-bar-chart-o
          //-     strong 8,192
          //-     |  Comparación
          //-   li.style3
          //-     span.icon.fa-heartbeat
          //-     strong 2,048
          //-     |  Salud
          //-   li.style4
          //-     span.icon.fa-line-chart
          //-     strong 4,096
          //-     |  Predicción
          //-   li.style5
          //-     span.icon.fa-star
          //-     strong 1,024
          //-     |  Seguidores
          //- footer.major
          //-   ul.actions.special
          //-     li
          //-       a.button(href='generic.html') Ver más
        // Get Started
        section#cta.main.special
          header.major
            h2 What are you waiting for?
            p
              | Sign up and become
              br
              | part of this awesome community
          footer.major
            ul.actions.special
              li
                a.button.primary(href='/signup') Sign Up
              li
                a.button(href='/login') Log In
      // Footer
      footer#footer
        section
          h2 Vehico
          p
            | A company focused on bringing mobility solutions to the world. We created the first platform to share the ownership of several vehicles.
          ul.actions
            li
              a.button(href='generic.html') See More
        section
          h2 Contact Us
          dl.alt
            dt Address:
            dd Ave. Río Florido #112 • Delicias, CHH 33077 • MX
            dt Teléfono
            dd (614) 231-0861
            dt Email
            dd
              a(href='#') vehico@support.com
          ul.icons
        p.copyright © Dragon Labs 
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrollex.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/browser.min.js')
    script(src='assets/js/breakpoints.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')
    script(defer='', src='https://use.fontawesome.com/releases/v5.5.0/js/all.js', integrity='sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0', crossorigin='anonymous')
