doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#53d397')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Vehico
    link(rel='shortcut icon', href='/images/logo.png')
    link(rel='icon', href='/images/logo.png')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/shards.min.css")
    link(rel='stylesheet', href='/css/main.css')
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/slick/slick.css')
    link(rel='stylesheet', href='/assets/slick/slick-theme.css')
    link(rel='stylesheet', href='/assets/fullCalendar/fullcalendar.min.css')
  body
    include partials/header
    if user
      .container
        include partials/flash
        block content
    else 
      .container2
        include partials/flash
        block content

    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/popper.min.js')
    script(src='/js/shards.min.js')
    script(src='/js/main.js')
    script(src="/assets/slick/slick.min.js")
    script(src="/js/moment/moment.min.js")
    script(src="/js/fullCalendar/dist/fullcalendar.min.js")
