@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
  font-size: 14px;
}

footer {
  position: absolute;
  // bottom: 0;
  // width: 100%;
  height: 45px;
  // line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  font-size: 18px;
  float: left;
  margin-left: 15px;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

.max-w-100{
  max-width: 100px;
}

.container2{
  background-image: url("../bg.jpeg");
  background-size: cover;
  height: 81vh;
  margin-top: -26px;
}

.leyenda{
  padding-top: 20vh;
  @media screen and (max-width: 768px) {
    padding-top: 30vh;
  }
}

.m-t-20{
  margin-top: 20px;
}

.p-t-20{
  padding-top: 20px;
}

.p-l-20{
  padding-left: 20px;
}

.p-r-20{
  padding-right: 20px;
}

.login-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form-control{
  border-radius: 0.25rem;
}
.form-control:focus{
  border: $brand-primary;
  box-shadow: 0 0 0 0.2rem rgba(123, 223, 242, 0.25);
}

.btn-primary{
  border-radius: 0.25rem;
  background-color: $brand-primary;
  border: $btn-primary-border;
  &:hover{
    background-color: $btn-primary-border;
    border: $btn-primary-border;
  }
  &:disabled, &.disabled{
    background-color: $gray-700;
  }
}

.btn-outline-primary{
  border-radius: 0.25rem;
  border: 1px solid $btn-primary-border;
  color: $brand-primary;
  &:hover{
    background-color: #eee;
    color: $btn-primary-border;
    border-color: $brand-primary;
  }
}

.btn-link, .nav-link{
  color: $brand-primary;
  &:hover{
    color: $brand-primary !important;
  }
}

.nav-item{
  &.active{
    >a{
      color: $brand-primary !important;
    }
  }
}

.container{
  .leyenda{
    display: none;
  }
}

.dropdown-item.active, .dropdown-item:active{
  background-color: $brand-primary;
}
.dropdown{
  &.show{
    >a{
      color: $brand-primary !important;
    }
  }
}

.plantitas{
  .panel{
    margin-bottom: 25px;
  }
  .panel-heading{
    border: 2px solid $btn-primary-border;
    border-radius: 0.25rem;
    transition: all 0.3s;
    .panel-title{
      padding-left: 60px;
      margin-bottom: 0;
      position: relative;
      &:hover{
        background-color: $brand-primary;
        border-radius: 0.25rem;
      }
      >a{
        display: block;
        color: #000;
        padding: 15px;
        &:hover{
          text-decoration: none;
        }
      }
      button{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        &:hover{
          background-color: #fff;
          color: $brand-primary;
        }
        i{
          margin-right: -4px;
          margin-left: -1px;
        }
      }
    }
  }
}

.plantimg{
  position: absolute;
  max-width: 55px;
  padding-top: 9px;
  padding-left: 20px;
  margin-left: -56px;
}

.panel-collapse{
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  >img{
    padding: 20px;
    max-width: 100%;
  }
}

.carac{
  font-weight: 300;
  .dato{
    font-weight: 500;
    padding-left: 10px;
  }
  >div{
    margin: 12px;
    margin-left: 40px;
    >img{
      padding-right: 10px;
    }
  }
}

.empty{
  padding: 20px;
}

.community{
  >img{
    margin: 0 auto;
  }
  p{
    font-size: 20px;
  }
}

.menu-tabs{
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 9;
  bottom: 0;
  width: 100%;
  left: 0;
  &.coach{
    >li{
      width: calc(100%/2);
    }

  }
  >li{
    width: calc(100%/3);
    border: 2px solid #eee;
    text-align: center;
    background-color: #fff;
    &:nth-child(2){
      border-left: none;
      border-right: none;
    }
    a{
      border-radius: 0 !important;
      &.active{
        background-color: $brand-primary-bg !important;
        color: #373640 !important;
      }
      &:hover{
        background-color: #7BDFF2 !important;
      }
    }
  }
}

.market-container{
  justify-content: space-between;
  .header{
    margin-left: 2vw;
    font-size: 3em;
    color: lightgray;
  }
}

.market-item{
  margin-bottom: 20px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 35px;
  .img-container{
    max-width: 200px;
    display: inline-block;
    margin-bottom: 10px;
    img{
      width: 65%;
      max-height: 60%;
      border-radius: 0.25rem;
      margin-bottom: 5px;
    }
  }

  .user{
    font-weight: 500;
  }
  .market-content{
    display: inline-block;
  }

  .pos-a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.dis-ib{
  display: inline-block;
}

/* Puede traer errores */
.container2 {

  text-align: center;
}

.signup-form {

  // width: 60%;
  display: inline-block;
}

.signup-btn {

  width: 60%;
}

.signup-card {

  display: inline-block;
  text-align: center;
  margin-top: 30px;

  #user-wrapper {

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
    margin-bottom: 25px;

    > div:hover {

      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }

    > div {
      cursor: pointer;
      display: inline-block;
      padding: 0;
      margin: 0 1vw;
      border-radius: 15px;

      > img {

        height: 55px;
        width: 55px;
        border-radius: 50%;
        max-width: 100px;
        margin-top: 10px;
      }

      > .card-body {

        text-align: center;

        > ul {

          text-align: start;
        }
      }
    }
  }
}
.register{

  .form-group{

    justify-content: flex-start;
  }
}

.frase{
  text-align: center;
  margin-bottom: 2vh;
  p{
    margin-bottom: 0;
  }
}
#map{
  margin-top: 5vh;
  height: 50vh;
}
.atletainicio >div{
  button{
    z-index: 1;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: -3vh;
    padding: 15px 30px;
  }
  .last-training{
    margin-top: 8vh;
  }
  &#list-messages{
    h4{
      margin-top: 6vh;
    }
  }
  .agregarrutina{
    button{
      height: 100%;
      padding: 5px 15px;
      margin-top: 0;
      border-top-right-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
    }
  }
  .lists{
    margin-top: 7vh;
  }
  .save{
    margin: 0 auto;
  }
}

.badge-primary {
  color: #fff;
  background-color: #8464fb;
  font-size: 14px;
}

.badge-success {
  color: #fff;
  font-size: 14px;
  background-color: #8464fb;
}

.badge-secondary {
  color: #fff;
  font-size: 14px;
  background-color: #ad2bf0;
}

.badge-dark {
  color: #fff;
  font-size: 14px;
  background-color:#c4acec;
}

@media screen and (max-width: 768px) {
  .market{
    top: 50px;
    width: 100vw;
  }
}

.container-datos{
  margin-top: 5vh;
  .persona {
    .edit{
      font-size: 22px;
      position: absolute;
      right: 20px;
      top: 10px;
      background-color: $brand-primary;
      color: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        margin-left: 0;
        margin-right: 0;
      }
    }
    > div:first-child{
      text-align: center;
    }
    img{
      padding: 30px;
      border-radius: 50%;
      max-width: 20vw;
    }
    >div:nth-child(2){
      display: flex;
      align-items:flex-start;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.container-info{
  margin-top: 4vh;
  .kms .card{
    padding: 4vh 4vw;
  }
}
#list-home1{
  position: relative;
  .card{
    flex-direction: row;
    div:first-child{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    div:last-child{
      text-align: center;
    }
    img{
      max-width: 100%;
      max-height: 40vh;
    }
  }
}

.historial{
  h2{
    margin-top: 4vh;
  }
}

.list-group-item.active{
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.regresion{
  margin-top: 8vh;
  height: 60vh;
  position: relative;
}

#myChart{
  margin: 0 auto;
}

.patrocinadores{
  margin-top: 8vh;
  >div{
    margin-bottom: 4vh;
  }
  .card{
    padding: 3vh 1.5vw;
    .col-4{
      max-width: 100%;
    }
    .col-8{
      .badge{
        float: right;
        margin-top: 10px;
        padding: 10px;
        &.badge-primary{
          background-color: $brand-primary-bg;
          color: $gray-900;
          i{
            margin-left: 8px;
            cursor: pointer;
          }
        }
      }
    }
    img{
      height: auto;
      width: 130px;
      height: 130px;
      border-radius: 50%;
    }
  }
}

.max-w-30{
  max-width: 30px;
}
.jugadores{
  .card{
    margin-bottom: 30px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
      background-color: $brand-primary-bg;
    }
    img{
      border-radius: 50%;
      width: 125px;
      height: 125px;
      margin: 20px auto;
    }
    p{
      font-size: 15px;
      text-align: center;
      &.nombre{
        font-weight: 600;
      }
    }
  }
}
.modal-dialog{
  width: 70vw !important;
  max-width: 70vw !important;
  .persona{
    .col-4{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      margin-left: 15px;
      border-radius: 50%;
    }
  }
  .modal-datos{
    margin-top: 4vh;
  }
}
.chart2-container{
  height: 60vh;
}

.btn-outline-dark {

  border-radius: 0.25rem;
}

.social-wrapper {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  i {

    font-size: 25px;
    color: $brand-primary;
    margin: 8px 0;
  }

}

.btn-patrocinio {
  left: 0;
  position: absolute;
  bottom: 20px;
}

.mas-info{
  min-height: 190px;
  .col-4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    .badge{
      margin-bottom: 10px;
    }
  }
}
.buscador{
  justify-content: center;
  margin-top: 8vh;
  button{
    border-radius: 0.25rem;
  }
}
.navbar-light{
  opacity: 1;
}

.btn-secondary{
  border-radius: 0.25rem;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: $brand-success; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#landing{
  background-image: linear-gradient(to bottom, #7bdff2, #79c7ff, #b9a3f8, #f076b9, #f25f5c);
}

.card-above-footer{
  justify-content: center;
  margin-top: 40px;
}

.add-btn{
  padding: 30px 0;
  text-align: center;
  margin-top: 0;
  background: $brand-primary;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  span{
    color: white;
    font-size: 20px;
    i{
      font-size: 29px;
    }
  }
  &:hover{
    background: $white;
    text-decoration: none;
    span{
      color: $brand-primary;
    }
  }
}
.t-center{
  text-align: center;
}
.m-auto{
  margin: auto;
}
.m-0-40{
  margin: 0 30px;
}
.m-t-20{
  margin-top: 20px;
}
.multiple-items{
  margin: 20px 0;
}
.slick-center{
  transform: scale(1.3);
  .card{
    background-color: #FCFCFC;
    border: 2px solid $brand-primary;
    &:focus{
      box-shadow: none;
    }
  }
}
.slick-list{
  padding-top: 30px !important;
  padding-bottom: 60px !important;
}

.btn-secondary{
  background-color: $white;
  color: $brand-primary;
  border: none;
  &:hover{
    background-color: $brand-primary;
  }
}
.pointer{
  cursor: pointer;
}

.v-card{
  // justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  img{
    margin-right: 30px;
    margin-left: 30px;
  }
  h3{
    margin-bottom: 0;
  }
  &:hover{
    background: #C1D8EF;
    text-decoration: none;
  }
}

.t-bold{
  font-weight: bold;
}

.nolink{
  color: rgba(0,0,0,.9);
}

.owner{
  border-top: 2px solid #eee;
  padding-top: 15px;
  position: relative;
  .qty{
    background-color: $brand-primary-bg;
    padding: 10px 15px;
    color: white;
    font-weight: 500;
    &.selling{
      background-color: #D4AF37;
    }
  }
}

.m-b-20{
  margin-bottom: 20px;
}
.mdl-card{
  margin: 5vw 10vw;
}

.badge-gray{
  background-color: $brand-primary;
  padding: 5px 6px;
}
.m-t-5{
  margin-top: 5px;
}
.v-item{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: $brand-primary-bg;
    p{
      text-decoration: none;
    }
  }
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
