extends ../layout

block content
  ul#pills-tab.nav.nav-pills.menu-tabs.coach(role='tablist')
    li.nav-item
      a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Car Info
    li.nav-item
      a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Calendar
    //- li.nav-item
    //-   a#pills-contact-tab.nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') Settings
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
      .row.t-center
        .card.col-10.offset-1.row
          case asset.type
            when 0
              .img-responsive.col-6.offset-3
                img.m-auto(src="/images/automobile.png")
            when 1
              .img-responsive.col-6.offset-3
                img.m-auto(src="/images/suv.png")
            when 2
              .img-responsive.col-6.offset-3
                img.m-auto(src="/images/delivery-truck.png")
            when 3
              .img-responsive.col-6.offset-3
                img.m-auto(src="/images/tourist.png")
            when 4
              .img-responsive.col-6.offset-3
                img.m-auto(src="/images/motor-sports.png")
            when 5
              .img-responsive.col-6.offset-3
                img.m-auto(src="/images/leisure.png")
            when 6
              .img-responsive.col-6.offset-3
                img.m-auto(src="/images/transportation.png")
          .row.m-t-20
            .col-6 Name: 
              span.t-bold=asset.name
            .col-6 Brand: 
              span.t-bold=asset.brand
          .row
            .col-6 Year: 
              span.t-bold=asset.year
            .col-6 Capacity: 
              span.t-bold=asset.capacity
      .row
        .card.offset-1.col-10
          h1.m-t-20 Owners
          p My ETH address: #{me.addressETH}
          each owner in resultOwners
            div
              .owner.row
                p.col-8
                if (owner.selling > 0)
                  p.col-2.qty=owner.qty+"%"
                  p.col-2.qty.selling=owner.selling+"%"
                else
                  p.offset-2.col-2.qty=owner.qty+"%"
                .col-8.m-b-20
                  .t-bold "ETH address:"
                  a#copyClip(onClick="copy()") #{owner.owner}
      .row.m-t-20
        .card.offset-1.col-10
          if (!buying)
            h1.m-t-20 Percentage
            button.btn.btn-primary.m-t-20.m-b-20(data-toggle="modal" data-target="#exampleModal") Transfer
          else
            h1.m-t-20 Percentage
            button.btn.btn-primary.m-t-20.m-b-20(data-toggle="modal" data-target="#exampleModal2") Request to Buy
        
    #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
      .row
        input#mymail(type='hidden' value=me.email)
        #calendar
      #createEventModal.modal.hide(tabindex='1', role='dialog', aria-labelledby='myModalLabel1', aria-hidden='true')
        .card.mdl-card
          .modal-header
            h3#myModalLabel1 Using your Car
            button.close(type='button', data-dismiss='modal', aria-hidden='true') x
          .modal-body
            form#createAppointmentForm.form-horizontal
              .control-group
                .controls
                  input#apptStartTime(type='hidden')
                  input#apptEndTime(type='hidden')
                  input#apptAllDay(type='hidden')
              .control-group
                label.control-label(for='when') When:
                #when.controls.controls-row(style='margin-top:5px;')
          .modal-footer
            button.btn(data-dismiss='modal', aria-hidden='true') Cancel
            button#submitButton.btn.btn-primary(type='submit') Save
      .row
        .col-10.t-center.offset-1.m-t-20
          form#saveSchedule(method='POST' action="/vehicle/addEvents/"+asset._id).m-t-20
            input(type='hidden', name='_csrf', value=_csrf)
            input#eventArray(type="hidden" name="eventos")
            button.btn.btn-primary(onClick="getEvents()" type="button") Save Schedule
  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Post on MarketPlace
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form.col-12.register(id='sell-form', method='POST' action="/vehicle/sell/"+asset.id)
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='ownerguy', value=ownerguy)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='vehicle') Vehicle:
              .col-md-7
                input.form-control.signup-form(type='text', name='vehicle', id='vehicle', required, value=asset.name, disabled)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='percentage') Percentage to Transfer:
              .col-md-7
                input.form-control.signup-form(type='number', max=ownerguy.qty, min=0, name='percentage', id='percentage', required, value=ownerguy.qty)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='to') To:
              .col-md-7
                input.form-control.signup-form(type='text', name='to', id='to', required)
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Post in MarketPlace
  #exampleModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel2', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel2.modal-title Send an Email to the Fractial Owner
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form.col-12.register(id='sell-form', method='POST' action="/vehicle/sell/"+asset.id)
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='vehicle') Email Body:
              .col-md-7
                textarea.form-control.signup-form()
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Send Email
