extends ../layout

block content
  ul#pills-tab.nav.nav-pills.menu-tabs(role='tablist')
    li.nav-item
      a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Inicio
    li.nav-item
      a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Seguidos
    li.nav-item
      a#pills-contact-tab.nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') Patrocinios
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
      div.multiple-items
        div.m-0-40.pointer
          .card
            .img-responsive
              img.m-auto(src="/images/automobile.png")
            h3.t-center Car
        div.m-0-40.pointer
          .card
            .img-responsive
              img.m-auto(src="/images/suv.png")
            h3.t-center SUV
        div.m-0-40.pointer 
          .card
            .img-responsive
              img.m-auto(src="/images/delivery-truck.png")
            h3.t-center Delivery Truck
        div.m-0-40.pointer
          .card
            .img-responsive
              img.m-auto(src="/images/tourist.png")
            h3.t-center Van
        div.m-0-40.pointer
          .card
            .img-responsive
              img.m-auto(src="/images/motor-sports.png")
            h3.t-center Motorcycle
        div.m-0-40.pointer
          .card
            .img-responsive
              img.m-auto(src="/images/leisure.png")
            h3.t-center Yatch
        div.m-0-40.pointer
          .card
            .img-responsive
              img.m-auto(src="/images/transportation.png")
            h3.t-center Tractor
      .row
        .card.offset-1.col-10
          form(method='POST' action="./register").m-t-20
            input#vehicleType(type='hidden', name='type', value='0')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
              .col-md-7
                input.form-control(type='text', name='name', id='name', placeholder='Name...', autofocus, autocomplete='name', required)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='brand') Brand
              .col-md-7
                input.form-control(type='text', name='brand', id='brand', placeholder='Brand...', autofocus, required)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='model') Model
              .col-md-7
                input.form-control(type='text', name='model', id='model', placeholder='Model...', autofocus, required)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='year') Year
              .col-md-7
                input.form-control(type='number', name='year', id='year', placeholder='Year...', autofocus, required)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='price') Initial Price
              .col-md-7
                input.form-control(type='number', step='0.01' min='0' name='price', id='price', placeholder='0.00', required)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='date') Purchase Date
              .col-md-7
                input.form-control(type='date', name='date', id='date', placeholder='Contraseña', required)
            .form-group.row
              label.col-md-3.col-form-label.font-weight-bold.text-right(for='capacity') Capacity
              .col-md-7
                input.form-control(type='number', name='capacity', id='capacity', placeholder='Capacity...', required)
            .form-group
              .offset-md-3.col-md-7.text-center
                button.col-md-12.btn.btn-primary(type='submit')
                  | Continuar 
                  i.fas.fa-arrow-circle-right
    #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
      .row
        .col-12.col-sm-10.offset-lg-1.card.market-item
          .card-header(style='font-size: 22px;')
              | Melissa Rodríguez
              button.btn.btn-outline-dark.btn-secondary(type='button', style='float:right;', data-toggle="collapse", data-target="#perfil1") Ver más
          .card-body.text-left.row
              .img-container.col-4
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Natación
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 5 minutos
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Just do it" - Nike
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row.mas-info
            .col-4.text-center
              span.badge.badge-pill.badge-dark Nombre Completo
              p.info Byanca Melissa Rodríguez Villanueva
            .col-4.text-center
              span.badge.badge-pill.badge-dark Ciudad Actual
              p.info Pennsylvania
            .col-4.text-center
              span.badge.badge-pill.badge-dark Organización
              p.info Lince
            div.social-wrapper
              a(href='facebook.com')
                i.fab.fa-facebook
              a(href='twitter.com')
                i.fab.fa-twitter
              a(href='instagram.com')
                i.fab.fa-instagram
              a(href='"mailto:mike_fg96@hotmail.com?Sub')
                i.fas.fa-envelope
            .col-12.text-center.btn-patrocinio
              button.btn.btn-outline-primary(type='button') ¡Patrocínala ahora!
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Tamara Vega
              button.btn.btn-outline-dark(type='button', style='float:right;') Ver más
          .card-body.text-left.row
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Pentatlón
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 1 día
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p “Haz lo que puedas, con lo que tengas, donde estés” -Theodore Roosevelt
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Juan Castello
              button.btn.btn-outline-dark(type='button', style='float:right;', data-toggle="collapse" data-target="#perfil1") Ver más
          .card-body.text-left.row
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Fútbol Soccer
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Argentino
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace más de 7 días
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Hagas o no lo hagas, pero no lo intentes" -Yoda
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Yamile Flore
              button.btn.btn-outline-dark(type='button', style='float:right;') Ver más
          .card-body.text-left.row
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Atletismo
                .col-6
                  span.badge.badge-pill.badge-primary Ubicación
                  p  Noruega
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 3 días
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "¿Qué es trujo?" -Daniel Aguilera                  


    #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
      .row
        .col-12.col-sm-10.offset-lg-1.card.market-item
          .card-header(style='font-size: 22px;')
              | Melissa Rodríguez 
              strong - $25 MXN /mes
              button.btn.btn-outline-dark(type='button', style='float:right;', data-toggle="collapse", data-target="#perfil1") Ver más
          .card-body.text-left.row
              .img-container.col-4
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Natación
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 5 minutos
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Just do it" -Nike
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row
            .col-3
              span.badge.badge-pill.badge-dark Nombre Completo
              p Byanca Melissa Rodríguez Villanueva
            .col-3
              span.badge.badge-pill.badge-dark Ciudad Actual
              p Pennsylvania
            .col-3
              span.badge.badge-pill.badge-dark Organización
              p Lince
            .col-3
              span.badge.badge-pill.badge-dark Contacto
              p
                a(href='facebook.com')
                  i.fab.fa-facebook
                a(href='twitter.com')
                  i.fab.fa-twitter
                a(href='instagram.com')
                  i.fab.fa-instagram
                a(href='mailto:mike_fg96@hotmail.com?Sub')
                  i.fas.fa-envelope
            .col-4
              span.badge.badge-pill.badge-dark Patrocinador Desde
              p 28 de Agosto del 2018
            .col-4
              span.badge.badge-pill.badge-dark Última Meta Cumplida
              p 50m en 38.47 Segundos
                a(herf='google.com')
                  i.fas.fa-arrow-circle-right
            .col-4
              span.badge.badge-pill.badge-dark Próxima Meta
              p 30 Chin-Ups en Prueba de 1 Minuto
            .col-6.text-center
              button.btn.btn-outline-primary(type='button') Editar Patrocinio
            .col-6.text-center
              button.btn.btn-outline-primary(type='button') Historial Completo
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row
           table.table.table-striped
              thead
                tr
                  th(scope='col') Fecha
                  th(scope='col') Tipo de Entrenamiento
                  th(scope='col') Desempeño
                  th(scope='col') Duración
              tbody
                tr
                  th(scope='row') 15/11/2018
                  td Cardio (5 km)
                  td 
                    span.badge.badge-warning Regular
                  td 48 min
                tr
                  th(scope='row') 14/11/2018
                  td Pesas (Pierna)
                  td 
                    span.badge.badge-info Bueno
                  td 60 min
                tr
                  th(scope='row') 13/11/2018
                  td Cardio (10 km)
                  td 
                    span.badge.badge-info Bueno
                  td 108 min
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row.chart2-container
           canvas#myChart2(width='400', height='400')

    
