extends ../layout

block content
  ul#pills-tab.nav.nav-pills.menu-tabs(role='tablist')
    li.nav-item
      a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Inicio
    li.nav-item
      a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Seguidos
    li.nav-item
      a#pills-contact-tab.nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') Patrocinios
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
      .row
        .card.offset-1.col-10
          form(method='POST' action="./addOwners/"+asset._id).m-t-20
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.row
              .col-md-6
                label.col-md-12.col-form-label.font-weight-bold.text-right(for='dueno0') Name
                select.custom-select(name="dueno0")
                  option(value=me._id selected) #{me.email}
              .col-md-6
                label.col-md-12.col-form-label.font-weight-bold.text-right(for='per0') Percentage
                input.form-control(type='number', name='per0' id="per0", placeholder='%...', required)
            .form-group.row#dueno1
              .col-md-6
                label.col-md-12.col-form-label.font-weight-bold.text-right(for='name') Name
                select.custom-select(name="dueno1")
                  option(value="0") Choose an owner.
                  each user in users
                    if (user.email !== me.email) 
                      option(value=user._id) #{user.email}
              .col-md-6
                label.col-md-12.col-form-label.font-weight-bold.text-right(for='per1') Percentage
                input.form-control(type='number', name='per1' id="per1", placeholder='%...')
            .form-group.row#dueno2.d-none
              .col-md-6
                label.col-md-12.col-form-label.font-weight-bold.text-right(for='name') Name
                select.custom-select(name="dueno2")
                  option(value="0") Choose an owner.
                  each user in users
                    if (user.email !== me.email) 
                      option(value=user._id) #{user.email}
              .col-md-6
                label.col-md-12.col-form-label.font-weight-bold.text-right(for='per2') Percentage
                input.form-control(type='number', name='per2' id="per2", placeholder='%...')
            .form-group.row#dueno3.d-none
              .col-md-6
                label.col-md-12.col-form-label.font-weight-bold.text-right(for='name') Name
                select.custom-select(name="dueno3")
                  option(value="0") Choose an owner.
                  each user in users
                    if (user.email !== me.email) 
                      option(value=user.id) #{user.email}
              .col-md-6
                label.col-md-12.col-form-label.font-weight-bold.text-right(for='per3') Percentage
                input.form-control(type='number', name='per3' id="per1", placeholder='%...')
            .form-group
              .offset-md-3.col-md-7.text-center
                button.col-md-12.btn.btn-secondary(type='button' onClick='addMoreOwners()')
                  i.fas.fa-plus
                  | Agregar Otro dueño
            .form-group
              .offset-md-3.col-md-7.text-center
                button.col-md-12.btn.btn-primary(type='submit')
                  | Continuar 
                  i.fas.fa-arrow-circle-right
    #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
      .row
        .col-12.col-sm-10.offset-lg-1.card.market-item
          .card-header(style='font-size: 22px;')
              | Melissa Rodríguez
              button.btn.btn-outline-dark.btn-secondary(type='button', style='float:right;', data-toggle="collapse", data-target="#perfil1") Ver más
          .card-body.text-left.row
              .img-container.col-4
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Natación
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 5 minutos
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Just do it" - Nike
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row.mas-info
            .col-4.text-center
              span.badge.badge-pill.badge-dark Nombre Completo
              p.info Byanca Melissa Rodríguez Villanueva
            .col-4.text-center
              span.badge.badge-pill.badge-dark Ciudad Actual
              p.info Pennsylvania
            .col-4.text-center
              span.badge.badge-pill.badge-dark Organización
              p.info Lince
            div.social-wrapper
              a(href='facebook.com')
                i.fab.fa-facebook
              a(href='twitter.com')
                i.fab.fa-twitter
              a(href='instagram.com')
                i.fab.fa-instagram
              a(href='"mailto:mike_fg96@hotmail.com?Sub')
                i.fas.fa-envelope
            .col-12.text-center.btn-patrocinio
              button.btn.btn-outline-primary(type='button') ¡Patrocínala ahora!
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Tamara Vega
              button.btn.btn-outline-dark(type='button', style='float:right;') Ver más
          .card-body.text-left.row
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Pentatlón
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 1 día
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p “Haz lo que puedas, con lo que tengas, donde estés” -Theodore Roosevelt
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Juan Castello
              button.btn.btn-outline-dark(type='button', style='float:right;', data-toggle="collapse" data-target="#perfil1") Ver más
          .card-body.text-left.row
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Fútbol Soccer
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Argentino
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace más de 7 días
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Hagas o no lo hagas, pero no lo intentes" -Yoda
      .market-container.row
        .col-12.col-lg-10.offset-lg-1.card.market-item
          .card-header(style="font-size: 22px;")
              | Yamile Flore
              button.btn.btn-outline-dark(type='button', style='float:right;') Ver más
          .card-body.text-left.row
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Atletismo
                .col-6
                  span.badge.badge-pill.badge-primary Ubicación
                  p  Noruega
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 3 días
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "¿Qué es trujo?" -Daniel Aguilera                  


    #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
      .row
        .col-12.col-sm-10.offset-lg-1.card.market-item
          .card-header(style='font-size: 22px;')
              | Melissa Rodríguez 
              strong - $25 MXN /mes
              button.btn.btn-outline-dark(type='button', style='float:right;', data-toggle="collapse", data-target="#perfil1") Ver más
          .card-body.text-left.row
              .img-container.col-4
              .market-flex.col-8.row
                .col-6
                  span.badge.badge-pill.badge-primary Disciplina
                  p  Natación
                .col-6
                  span.badge.badge-pill.badge-primary Nacionalidad
                  p  Mexicana
                .col-6
                  span.badge.badge-pill.badge-success Última rutina
                  p  Hace 5 minutos
                .col-6
                  span.badge.badge-pill.badge-secondary Frase déstacada
                  p "Just do it" -Nike
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row
            .col-3
              span.badge.badge-pill.badge-dark Nombre Completo
              p Byanca Melissa Rodríguez Villanueva
            .col-3
              span.badge.badge-pill.badge-dark Ciudad Actual
              p Pennsylvania
            .col-3
              span.badge.badge-pill.badge-dark Organización
              p Lince
            .col-3
              span.badge.badge-pill.badge-dark Contacto
              p
                a(href='facebook.com')
                  i.fab.fa-facebook
                a(href='twitter.com')
                  i.fab.fa-twitter
                a(href='instagram.com')
                  i.fab.fa-instagram
                a(href='mailto:mike_fg96@hotmail.com?Sub')
                  i.fas.fa-envelope
            .col-4
              span.badge.badge-pill.badge-dark Patrocinador Desde
              p 28 de Agosto del 2018
            .col-4
              span.badge.badge-pill.badge-dark Última Meta Cumplida
              p 50m en 38.47 Segundos
                a(herf='google.com')
                  i.fas.fa-arrow-circle-right
            .col-4
              span.badge.badge-pill.badge-dark Próxima Meta
              p 30 Chin-Ups en Prueba de 1 Minuto
            .col-6.text-center
              button.btn.btn-outline-primary(type='button') Editar Patrocinio
            .col-6.text-center
              button.btn.btn-outline-primary(type='button') Historial Completo
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row
           table.table.table-striped
              thead
                tr
                  th(scope='col') Fecha
                  th(scope='col') Tipo de Entrenamiento
                  th(scope='col') Desempeño
                  th(scope='col') Duración
              tbody
                tr
                  th(scope='row') 15/11/2018
                  td Cardio (5 km)
                  td 
                    span.badge.badge-warning Regular
                  td 48 min
                tr
                  th(scope='row') 14/11/2018
                  td Pesas (Pierna)
                  td 
                    span.badge.badge-info Bueno
                  td 60 min
                tr
                  th(scope='row') 13/11/2018
                  td Cardio (10 km)
                  td 
                    span.badge.badge-info Bueno
                  td 108 min
      #perfil1.panel-collapse.collapse.in
        .col-12.col-lg-10.offset-1.card
          .card-body.text-left.row.chart2-container
           canvas#myChart2(width='400', height='400')

    
