@import url('https://fonts.googleapis.com/css?family=Poppins:200,400');
// Brand Colors
// -------------------------

$brand-primary: #2274A5;
$brand-success: #60bf60;
$brand-warning: #ff9800;
$brand-danger: #de4b33;
$brand-info: #5bc0dd;

// Typography
// -------------------------
// $font-family-base: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
$font-family-base: 'Poppins', sans-serif;

$headings-font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;

// Buttons
// -------------------------

$btn-primary-border: darken($brand-primary, 3.2%);
$btn-success-border: darken($brand-success, 3.2%);
$btn-warning-border: darken($brand-warning, 3.2%);
$btn-danger-border: darken($brand-danger, 3.2%);
$btn-info-border: darken($brand-info, 3.2%);

// Forms
// -------------------------

$input-border-radius: 0;
$input-border-focus: #2598f9;

// Form states and alerts
// -------------------------

$state-success-text: #569845;
$state-success-bg: #dbf5d3;
$state-success-border: #aed3a5;

$state-info-text: #3a87ad;
$state-info-bg: #d9edf7;
$state-info-border: #98cce7;

$state-warning-text: #bf9853;
$state-warning-bg: #fdf8e2;
$state-warning-border: #f2daab;

$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: #e0b1b8;


// Navbar
// -------------------------

$navbar-light-color: #252525;
$navbar-light-hover-color: #4da5f4;
$navbar-light-active-color: #4da5f4;

$card-spacer-x: 0.75rem;

//SUH
$brand-primary-bg: lighten($brand-primary, 20%);
