extends ../layout

block content
  .row.text-center.community
    img(src="box.png")
    .col-sm-12.m-t-20
      p Bienvenido a la comunidad!
      p Un espacio donde podrás compartir alimentos con otras personas
    .col-6.p-t-20.p-l-20.text-right
      button.btn.btn-primary Subscribete!
    .col-6.p-t-20.p-r-20.text-left
      button.btn.btn-outline-primary Mas información
