extends ../layout

block content
  ul#pills-tab.nav.nav-pills.mb-3.market(role='tablist')
    li.nav-item
      a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Consume Local
    li.nav-item
      a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Vende tu fruto
    li.nav-item
      a#pills-contact-tab.nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') Compra insumos
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
      .market-container.row
        .col-12.col-lg-6.card.market-item
          .card-header
            | Papas recien sacadas.
          .card-body.text-center
            .img-container.col-12.col-sm-6
              img.img-responsive(src="harvest-potato.png")
            .market-content.col-12.col-sm-6
              p Usuario: Daniel
              p Precio: $43 / kg
              p Disponible: 29/10/2018
              button.btn.btn-primary.pos-a Contactar Usuario
              br
              br
        .col-12.col-lg-6.card.market-item
          .card-header
            | Zanahorias Frescas.
          .card-body.text-center
            .img-container.col-12.col-sm-6
              img.img-responsive(src="harvest-carrot.png")
            .market-content.col-12.col-sm-6
              p Usuario: Luis Angel
              p Precio: $64 / kg
              p Disponible: 18/10/2018
              button.btn.btn-primary.pos-a Contactar Usuario
              br
              br
    #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
      .sell-container.row
        .col-12
          .form-group.row
            label(class='col-md-2 col-form-label font-weight-bold', for='email') Nombre Publicación
            .col-md-8
              input.form-control(type='text', name='email', id='email', autocomplete='email')
          .form-group.row
            label(class='col-md-2 col-form-label font-weight-bold', for='email') Precio por Kilo
            .col-md-8
              input.form-control(type='text', name='email', id='email', autocomplete='email' placeholder="$")  
          .col-md-8.offset-md-2
            .input-group.mb-3
              .input-group-prepend
                span#inputGroupFileAddon01.input-group-text Subir Imagen
              .custom-file
                input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01')
                label.custom-file-label(for='inputGroupFile01') Elegir Archivo
          button.btn.btn-primary.col-12.col-md-6.offset-md-3
            | Publicar Anuncio
    #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
      .market-container.row
        .col-12.col-lg-6.card.market-item
          .card-header
            | Fertilizante
          .card-body.text-center
            .img-container.col-12.col-sm-6
              img.img-responsive(src="fertilizante.png")
            .market-content.col-12.col-sm-6
              p Ferilizante Jobes Organic
              p Precio: $163 / bolsa
              p Disponibilidad: 160
              button.btn.btn-primary.pos-a Comprar
              br
              br
        .col-12.col-lg-6.card.market-item
          .card-header
            | Zanahorias Frescas.
          .card-body.text-center
            .img-container.col-12.col-sm-6
              img.img-responsive(src="fosforo.png")
            .market-content.col-12.col-sm-6
              p Fosforo RICHGRO
              p Precio: $180 / bolsa
              p Disponibilidad: 305
              button.btn.btn-primary.pos-a Comprar
              br
              br
