extends ../layout

block content
  #accordion.panel-group.plantitas
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="carrot.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
            | Zanahoria
      #collapse1.panel-collapse.collapse.in
        .panel-body.row
          .col-12.carac
            h2.m-t-20.text-center ¿Plantar Zanahoria?
            div.col-6.col-sm-4.dis-ib
              span Tiempo de Cosecha:
              span.dato 2 a 3 meses.
            div.col-6.col-sm-4.dis-ib
              span Estaciones del año:
              span.dato Primavera, Otoño e Invierno
            div.col-12
              h4 Tipo de tierra:
              .col-11
                p
                  | La zanahoria gusta de espacios profundos de tierra, un limo arenoso es ideal para ella. Como toda hortaliza de raíz gusta mucho del fosfato y del potasio; con estiércol o compost se puede suplir de estos nutrientes pero hay que hacer la mezcla de la tierra por lo menos unos 6 meses antes de plantar las semillas. El PH ideal es de 6.
            div.col-12
              h4 Exposición al sol:
              .col-11
                p
                  | Las zanahorias son de climas fríos, pero a pesar de eso le encanta el sol. Se recomienda dejar la zanahoria en un lugar que le llegue sol todo el día.
            div.col-12
              h4 Riego – Agua:
              .col-11
                p
                  | Hay que mantener la tierra en donde crecen las zanahorias siempre húmeda. Si se riega hay que notar que el agua penetre muy profundo esto le hace muy bien a la zanahoria, por el contrario el riego superficial de esta puede no sirve de mucho.
            div.col-12
              h4 Consejos Básicos
              .col-11
                p
                  | La zanahoria es una planta bienal, es decir tiene una vida de 2 años. En el primer año almacena la energía necesaria para poder dar flor y semillas en el segundo año. Es en el primer año donde uno debe consumirla y si uno quiere sacar semillas de la planta uno debe esperar al segundo año. Durante el primer año uno puede consumirlas en cualquier momento, cuando están aún muy chicas o muy grandes, en todas sus etapas es muy rica. 
                p
                  | Al momento de cosechar las zanahorias hay que tener especial cuidado en no dañarla, si una se daña no hay que guardarla con las otras. Es por esto que se recomienda sacar las zanahorias de la tierra con la mano y no con otro elemento, si la tierra llegase a estar muy apretada se puede ocupar una pala para soltar la tierra alrededor de la planta.
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="spinach.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
            | Espinaca
      #collapse2.panel-collapse.collapse
        .panel-body.row
          .col-12.carac
            h2.m-t-20.text-center ¿Plantar Espinaca?
            div.col-6.col-sm-4.dis-ib
              span Tiempo de Cosecha:
              span.dato 2 a 3 meses.
            div.col-6.col-sm-4.dis-ib
              span Estaciones del año:
              span.dato Primavera – Otoño
            div.col-12
              h4 Tipo de tierra:
              .col-11
                p
                  | La espinaca prefiere los suelos ricos y húmedos, pero puede crecer en cualquier suelo siempre y cuando éste tenga suficiente materia orgánica. En pequeños huertos o maceteros basta con agregar una cantidad generosa de compost a la tierra.
            div.col-12
              h4 Exposición al sol:
              .col-11
                p
                  | La planta de espinaca puede crecer perfectamente sin mucho sol. Esto la hace ideal para ponerla o plantarla en lugares que tengan mucha sombra durante el día. También tolera estar a pleno sol pero hay que tener cuidado de que no sea en lugares o espacios calurosos.
            div.col-12
              h4 Riego – Agua:
              .col-11
                p
                  | La Espinaca es una planta que prefiere estar en tierra húmeda, pero hay que evitar el acharcamiento de agua en la tierra. Esto pudre las raíces. 
            div.col-12
              h4 Consejos Básicos
              .col-11
                p
                  | A la planta de espinaca no le gusta el calor. El exceso de calor la hace florecer prematuramente y la torna amarga.
                p
                  | Es recomendable plantar varias partidas de espinacas con desfases de 2 semanas. Esto nos proporcionará una constante fuente de espinaca.
                p
                  | Existen diferentes variedades de espinacas, hay que elegir la variedad dependiendo de cuando queramos plantarla
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="potato.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
            | Papa
      #collapse3.panel-collapse.collapse
        .panel-body.row
          .col-12.carac
            h2.m-t-20.text-center ¿Plantar Papa?
            div.col-6.col-sm-4.dis-ib
              span Tiempo de Cosecha:
              span.dato 65 – 100 días.
            div.col-6.col-sm-4.dis-ib
              span Estaciones del año:
              span.dato Primavera
            div.col-12
              h4 Tipo de tierra:
              .col-11
                p
                  | Las papas o patatas pueden desarrollarse desde suelos con Ph 4,6 para arriba. Lo que nunca se debe hacer es poner cal a la tierra donde se van a plantar. Estas prefieren suelos ricos en potasio y fosfato. A esta planta le gustan los suelos bien drenados y húmedos.
            div.col-12
              h4 Exposición al sol:
              .col-11
                p
                  | A las papas o patatas les gusta el sol, pero hay que tener cuidado de que no haga mucho calor, dado  que el exceso de calor puede afectar el desarrollo de la planta.
            div.col-12
              h4 Riego – Agua:
              .col-11
                p
                  | A las papas o patatas les gusta tener el suelo siempre húmedo, por lo cual, hay que regarlas, dependiendo del clima, alrededor de 3 veces por semana. Cuando éstas florecen requieren de más agua, por lo cual se recomienda aumentar el riego en este período.
            div.col-12
              h4 Consejos Básicos
              .col-11
                p
                  | Es promordial que los tubérculos hayan despuntado cuando queramos plantar papas tempranas.
                p
                  | Si a las papas les llega luz por mucho tiempo se ponen verdes y venenosas. Esto debido a que producen una toxina llamada solanina. Para evitar esto hay que aporcarlas (amonotonar tierra a su alrededor) regularmente, porque así no sólo se protegen los tubérculos de la luz sino que a la vez, se les da espacio para crecer y expandirse.
                p
                  | Las plantas de patatas se mantienen erguidas durante la noche y la mañana y luego en la tarde, debido al calor, se desparraman. Es por esto que se recomienda aporcarlas en las mañanas
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="salad.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse4')
            | Lechuga
      #collapse4.panel-collapse.collapse
        .panel-body.row
          .col-12.carac
            h2.m-t-20.text-center ¿Plantar Lechuga?
            div.col-6.col-sm-4.dis-ib
              span Tiempo de Cosecha:
              span.dato 65 – 100 días.
            div.col-6.col-sm-4.dis-ib
              span Estaciones del año:
              span.dato Primavera
            div.col-12
              h4 Tipo de tierra:
              .col-11
                p
                  | Las papas o patatas pueden desarrollarse desde suelos con Ph 4,6 para arriba. Lo que nunca se debe hacer es poner cal a la tierra donde se van a plantar. Estas prefieren suelos ricos en potasio y fosfato. A esta planta le gustan los suelos bien drenados y húmedos.
            div.col-12
              h4 Exposición al sol:
              .col-11
                p
                  | A las papas o patatas les gusta el sol, pero hay que tener cuidado de que no haga mucho calor, dado  que el exceso de calor puede afectar el desarrollo de la planta.
            div.col-12
              h4 Riego – Agua:
              .col-11
                p
                  | A las papas o patatas les gusta tener el suelo siempre húmedo, por lo cual, hay que regarlas, dependiendo del clima, alrededor de 3 veces por semana. Cuando éstas florecen requieren de más agua, por lo cual se recomienda aumentar el riego en este período.
            div.col-12
              h4 Consejos Básicos
              .col-11
                p
                  | Es promordial que los tubérculos hayan despuntado cuando queramos plantar papas tempranas.
                p
                  | Si a las papas les llega luz por mucho tiempo se ponen verdes y venenosas. Esto debido a que producen una toxina llamada solanina. Para evitar esto hay que aporcarlas (amonotonar tierra a su alrededor) regularmente, porque así no sólo se protegen los tubérculos de la luz sino que a la vez, se les da espacio para crecer y expandirse.
                p
                  | Las plantas de patatas se mantienen erguidas durante la noche y la mañana y luego en la tarde, debido al calor, se desparraman. Es por esto que se recomienda aporcarlas en las mañanas
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="onion.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse5')
            | Cebolla
      #collapse5.panel-collapse.collapse
        .panel-body.row
          .col-12.carac
            h2.m-t-20.text-center ¿Plantar Cebolla?
            div.col-6.col-sm-4.dis-ib
              span Tiempo de Cosecha:
              span.dato 65 – 100 días.
            div.col-6.col-sm-4.dis-ib
              span Estaciones del año:
              span.dato Primavera
            div.col-12
              h4 Tipo de tierra:
              .col-11
                p
                  | Las papas o patatas pueden desarrollarse desde suelos con Ph 4,6 para arriba. Lo que nunca se debe hacer es poner cal a la tierra donde se van a plantar. Estas prefieren suelos ricos en potasio y fosfato. A esta planta le gustan los suelos bien drenados y húmedos.
            div.col-12
              h4 Exposición al sol:
              .col-11
                p
                  | A las papas o patatas les gusta el sol, pero hay que tener cuidado de que no haga mucho calor, dado  que el exceso de calor puede afectar el desarrollo de la planta.
            div.col-12
              h4 Riego – Agua:
              .col-11
                p
                  | A las papas o patatas les gusta tener el suelo siempre húmedo, por lo cual, hay que regarlas, dependiendo del clima, alrededor de 3 veces por semana. Cuando éstas florecen requieren de más agua, por lo cual se recomienda aumentar el riego en este período.
            div.col-12
              h4 Consejos Básicos
              .col-11
                p
                  | Es promordial que los tubérculos hayan despuntado cuando queramos plantar papas tempranas.
                p
                  | Si a las papas les llega luz por mucho tiempo se ponen verdes y venenosas. Esto debido a que producen una toxina llamada solanina. Para evitar esto hay que aporcarlas (amonotonar tierra a su alrededor) regularmente, porque así no sólo se protegen los tubérculos de la luz sino que a la vez, se les da espacio para crecer y expandirse.
                p
                  | Las plantas de patatas se mantienen erguidas durante la noche y la mañana y luego en la tarde, debido al calor, se desparraman. Es por esto que se recomienda aporcarlas en las mañanas
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="green-tea.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse6')
            | Cilantro
      #collapse6.panel-collapse.collapse
        .panel-body.row
          .col-12.carac
            h2.m-t-20.text-center ¿Plantar Cilantro?
            div.col-6.col-sm-4.dis-ib
              span Tiempo de Cosecha:
              span.dato 65 – 100 días.
            div.col-6.col-sm-4.dis-ib
              span Estaciones del año:
              span.dato Primavera
            div.col-12
              h4 Tipo de tierra:
              .col-11
                p
                  | Las papas o patatas pueden desarrollarse desde suelos con Ph 4,6 para arriba. Lo que nunca se debe hacer es poner cal a la tierra donde se van a plantar. Estas prefieren suelos ricos en potasio y fosfato. A esta planta le gustan los suelos bien drenados y húmedos.
            div.col-12
              h4 Exposición al sol:
              .col-11
                p
                  | A las papas o patatas les gusta el sol, pero hay que tener cuidado de que no haga mucho calor, dado  que el exceso de calor puede afectar el desarrollo de la planta.
            div.col-12
              h4 Riego – Agua:
              .col-11
                p
                  | A las papas o patatas les gusta tener el suelo siempre húmedo, por lo cual, hay que regarlas, dependiendo del clima, alrededor de 3 veces por semana. Cuando éstas florecen requieren de más agua, por lo cual se recomienda aumentar el riego en este período.
            div.col-12
              h4 Consejos Básicos
              .col-11
                p
                  | Es promordial que los tubérculos hayan despuntado cuando queramos plantar papas tempranas.
                p
                  | Si a las papas les llega luz por mucho tiempo se ponen verdes y venenosas. Esto debido a que producen una toxina llamada solanina. Para evitar esto hay que aporcarlas (amonotonar tierra a su alrededor) regularmente, porque así no sólo se protegen los tubérculos de la luz sino que a la vez, se les da espacio para crecer y expandirse.
                p
                  | Las plantas de patatas se mantienen erguidas durante la noche y la mañana y luego en la tarde, debido al calor, se desparraman. Es por esto que se recomienda aporcarlas en las mañanas
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="cabbage.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse7')
            | Repollo
      #collapse7.panel-collapse.collapse
        .panel-body.row
          .col-12.carac
            h2.m-t-20.text-center ¿Plantar Repollo?
            div.col-6.col-sm-4.dis-ib
              span Tiempo de Cosecha:
              span.dato 65 – 100 días.
            div.col-6.col-sm-4.dis-ib
              span Estaciones del año:
              span.dato Primavera
            div.col-12
              h4 Tipo de tierra:
              .col-11
                p
                  | Las papas o patatas pueden desarrollarse desde suelos con Ph 4,6 para arriba. Lo que nunca se debe hacer es poner cal a la tierra donde se van a plantar. Estas prefieren suelos ricos en potasio y fosfato. A esta planta le gustan los suelos bien drenados y húmedos.
            div.col-12
              h4 Exposición al sol:
              .col-11
                p
                  | A las papas o patatas les gusta el sol, pero hay que tener cuidado de que no haga mucho calor, dado  que el exceso de calor puede afectar el desarrollo de la planta.
            div.col-12
              h4 Riego – Agua:
              .col-11
                p
                  | A las papas o patatas les gusta tener el suelo siempre húmedo, por lo cual, hay que regarlas, dependiendo del clima, alrededor de 3 veces por semana. Cuando éstas florecen requieren de más agua, por lo cual se recomienda aumentar el riego en este período.
            div.col-12
              h4 Consejos Básicos
              .col-11
                p
                  | Es promordial que los tubérculos hayan despuntado cuando queramos plantar papas tempranas.
                p
                  | Si a las papas les llega luz por mucho tiempo se ponen verdes y venenosas. Esto debido a que producen una toxina llamada solanina. Para evitar esto hay que aporcarlas (amonotonar tierra a su alrededor) regularmente, porque así no sólo se protegen los tubérculos de la luz sino que a la vez, se les da espacio para crecer y expandirse.
                p
                  | Las plantas de patatas se mantienen erguidas durante la noche y la mañana y luego en la tarde, debido al calor, se desparraman. Es por esto que se recomienda aporcarlas en las mañanas
