extends ../layout

block content
  #accordion.panel-group.plantitas
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="plant.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
            | Maceta #1
          button.btn.btn-primary
            i.fa.fa-edit
      #collapse1.panel-collapse.collapse.in
        .panel-body.row
          .product.col-md-4.text-center
            img(src="potato.png")
          .col-md-8.carac
            h2.m-t-20.text-center Datos de Alicia
            div
              img(src="thermometer.png")
              span Temperatura:
              span.dato 25°C
            div
              img(src="humidity.png")
              span Humedad:
              span.dato 56%
            div
              img(src="sunny.png")
              span Sol:
              span.dato 76%
            div
              img(src="happy.png")
              span Sol:
              span.dato 83%
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="plant.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
            | Maceta #2
          button.btn.btn-primary
            i.fa.fa-edit
      #collapse2.panel-collapse.collapse
        .panel-body
          .panel-body.row
            .product.col-md-4.text-center
              img(src="carrot.png")
            .col-md-8.carac
              h2.m-t-20.text-center Datos de Luna
              div
                img(src="thermometer.png")
                span Temperatura:
                span.dato 25°C
              div
                img(src="humidity.png")
                span Humedad:
                span.dato 56%
              div
                img(src="sunny.png")
                span Sol:
                span.dato 76%
              div
                img(src="happy.png")
                span Sol:
                span.dato 83%
    .panel.panel-default
      .panel-heading
        h4.panel-title
          img.plantimg(src="plantempty.png")
          a(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
            | Maceta #3
          button.btn.btn-primary
            | +
      #collapse3.panel-collapse.collapse
        .panel-body
          div.empty
            p Aun no has plantado nada.
            p Si necesitas información sobre que plantar, revisa nuestra documentación.
  .offset-sm-2.col-sm-8
    button.btn.btn-primary.col-sm-12
      | Liga Tu Nueva Maceta
