@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

// Colors
// -------------------------

$gray-lighter: #f5f5f5;
$gray-light: #e0e0e0;
$gray: #737373;
$gray-dark: #404040;
$gray-darker: #121212;

$brand-primary: #2274A5;
$brand-secondary: #F25F5C;
$brand-success: #0f9d58;
$brand-warning: #f4b400;
$brand-danger: #d80017;
$brand-info: #5bc0dd;

// Typography
// -------------------------

$font-size-base: 1rem;
$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 700;
$text-color: $gray-darker;
$link-color: $brand-primary;
$link-hover-color: $gray-darker;

// Dropdowns
// -------------------------

$dropdown-link-color: $gray-darker;

// Buttons
// -------------------------

$btn-default-bg: $gray-lighter;
$btn-default-color: $gray-darker;

// Forms
// -------------------------

$input-border-radius: 2px;
$input-border-focus: #999;
$input-border: #f0f0f0;
$input-color: #444;
$input-color-placeholder: #999;
$input-height-base: 44px;

// Form states and alerts
// -------------------------

$state-success-bg: $brand-success;
$state-info-bg: $brand-primary;
$state-warning-bg: $brand-warning;
$state-danger-bg: $brand-danger;

// Navbar
// -------------------------

$navbar-height: 50px;
$navbar-default-bg: rgba(255,255,255,0.95);
$navbar-default-link-color: $gray-darker;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-link-hover-bg: transparent;
$navbar-default-brand-color: $gray-darker;
$navbar-default-brand-hover-color: $brand-primary;
