extends ../layout

block content
  ul#pills-tab.nav.nav-pills.mb-3.market.coach(role='tablist')
    li.nav-item
      a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Inicio
    li.nav-item
      a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Perfil

 
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
      .row 
        .col-12.text-right
          h4.d-inline Agregar jugador 
          button.btn.btn-primary +
      h3 Jugadores
      .row.jugadores
        .col-4.col-sm-3
          .card(data-toggle="modal" data-target="#exampleModal")
            img(src="https://randomuser.me/api/portraits/men/32.jpg")
            p.nombre Jose Rodríguez
            p Posición: Delantero
        .col-4.col-sm-3
          .card
            img(src="https://randomuser.me/api/portraits/men/91.jpg")
            p.nombre Daniel Aguilera
            p Posición: Centro
        .col-4.col-sm-3
          .card
            img(src="https://images.pexels.com/photos/247885/pexels-photo-247885.jpeg?h=350&auto=compress&cs=tinysrgb")
            p.nombre Miguel Flores 
            p Posición: Delantero
        .col-4.col-sm-3
          .card
            img(src="https://d3iw72m71ie81c.cloudfront.net/male-104.jpg")
            p.nombre Luis Angel Ortega
            p Posición: Delantero
        .col-4.col-sm-3
          .card
            img(src="https://randomuser.me/api/portraits/men/33.jpg")
            p.nombre Chris Calderón
            p Posición: Delantero
        .col-4.col-sm-3
          .card
            img(src="https://randomuser.me/api/portraits/men/41.jpg")
            p.nombre Carlos Salgado
            p Posición: Arquero                    
    #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
      .row
        .col-12
          .container-datos
            .card
              .persona.row
                .col-4
                  img(src="https://randomuser.me/api/portraits/men/83.jpg")
                .col-8
                  h1 Ignacio Talamantes
                  h4 Edad: 42 años
                  h4 Equipo: Ulsa
                .edit
                  i.fas.fa-edit
          .historial
            h2 sesiones en equipo
            table.table
              thead.thead-dark
                tr
                  th(scope='col') #
                  th(scope='col') Tipo Sesión
                  th(scope='col') Duración
                  th(scope='col') Calorias Quemadas
              tbody
                tr
                  th(scope='row') 1
                  td Correr
                  td 0:35 hr
                  td 324 cal
                tr
                  th(scope='row') 2
                  td Gimnasio
                  td 1:26 hr
                  td 96 cal
                tr
                  th(scope='row') 3
                  td Correr
                  td 0:40 hr
                  td 360 cal

    #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
      .row.patrocinadores
        .col-12.col-sm-6
          .card
            .row
              .col-4
                img(src="https://images.unsplash.com/photo-1498529605908-f357a9af7bf5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=047fade70e80ebb22ac8f09c04872c40")
              .col-8
                h4 Lourdes Chavez
                h4 Cd. Juarez, Chihuahua
                button.btn.btn-primary Contactar
                span.badge.badge-pill.badge-primary $35MXN / Mes
        .col-12.col-sm-6
          .card
            .row
              .col-4
                img(src="https://tinyfac.es/data/avatars/B0298C36-9751-48EF-BE15-80FB9CD11143-500w.jpeg")
              .col-8
                h4 Tomas Contreras
                h4 Cd. Juarez, Chihuahua
                button.btn.btn-primary Contactar
                span.badge.badge-pill.badge-primary $43MXN / Mes
        .col-12.col-sm-6
          .card
            .row
              .col-4
                img(src="https://pbs.twimg.com/profile_images/953000038967468033/n4Ngwvi7.jpg")
              .col-8
                h4 Juan Escutia
                h4 Cd. Juarez, Chihuahua
                button.btn.btn-primary Contactar
                span.badge.badge-pill.badge-primary $100MXN / Mes
        .col-12.col-sm-6
          .card
            .row
              .col-4
                img(src="https://randomuser.me/api/portraits/women/95.jpg")
              .col-8
                h4 Lucia Esquivel
                h4 Cd. Juarez, Chihuahua
                button.btn.btn-primary Contactar
                span.badge.badge-pill.badge-primary $52MXN / Mes
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h5#exampleModalLabel.modal-title Jugador
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .persona.row
              .col-6
                .card
                  .row
                    .col-4
                      img(src="https://randomuser.me/api/portraits/men/32.jpg")
                    .col-8
                      h1 Jose Rodríguez
                      h4 Edad: 33 años
                      h4 Posición: Delantero
                      h5 Ubicación: Juarez, Chihuahua.
              .col-6
                .card
                  .col-12
                    h1 Ultimos datos
                    h4 Goles: 4
                    h4 Tiempo jugado: 200 minutos
                    h4 Porcentaje de precisión: 80%        
            .modal-datos.row
              .col-12
                h3 Tabla de Entrenamientos
                .card
                  table.table
                    thead.thead-dark
                      tr
                        th(scope='col') Día
                        th(scope='col') Tiempo Entrenado
                        th(scope='col') Rutina
                        th(scope='col') Ritmo Cardíaco Max/Min
                    tbody
                      tr
                        th(scope='row') Viernes 9
                        td 95 Min.
                        td Resistencia
                        td 120 BPM/75 BPM
                      tr
                        th(scope='row') Lunes 12
                        td 90 Min.
                        td Tiros Libres
                        td 100 BPM/60 BPM
                      tr
                        th(scope='row') Miércoles 15
                        td 110 Min.
                        td Velocidad - Penales
                        td 115 BPM/70 BPM

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
            button.btn.btn-primary(type='button') Agregar meta
              
  script(src="/js/Chart.min.js")
  script(src="/js/linear-chart.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js")
